aws-lambda-powertools # logging, other utilities
aws_xray_sdk # tracing middleware
# confluent-kafka # kafka streaming
Django # db layer
fastapi # api layer
jmespath # json parsing, not implicit from aws-lambda-powertools?
psycopg2-binary # enables database connection
pydantic # supports fastapi
# weasyprint # pdf generation
